<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render Components::PageWrap.new(params: params) do %>
      <%= yield %>
    <% end %>

    <%= render RubyUI::ToastRegion.new(flash: flash.to_h) %>
    <%= render Components::ConnectDialog.new %>
    <%= render Components::RemoteDialog.new %>
  </body>
</html>
