<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render Components::Nav.new(params: params) %>

    <main class="container mx-auto my-28 px-5 flex">
      <%= yield %>
    </main>

    <%= render RubyUI::ToastRegion.new(flash: flash.to_h) %>
    <%= render Components::ConnectDialog.new %>
    <%= render Components::RemoteDialog.new %>
  </body>
</html>
